{% macro render_header() %} {% set section = get_section(path="_index.md") %}
<header
  class="mb-6 grid grid-cols-2 bg-indigo-300 p-3 text-neutral-900 dark:bg-indigo-900 dark:text-white md:flex md:place-content-between"
>
  <a class="flex w-fit items-center gap-x-4" href="{{ section.permalink }}">
    <span class="inline whitespace-nowrap text-4xl font-bold">
      {{ config.extra.logo_name }}
    </span>
  </a>

  {% if config.extra.extra_menu %}
  <input
    id="nav-menu-toggle"
    class="hidden"
    type="checkbox"
    autocomplete="off"
  />
  <label
    id="nav-menu-toggle-icon"
    for="nav-menu-toggle"
    class="select-none place-self-end align-top text-4xl md:hidden"
  >
    &#xe5d2;
  </label>

  <div id="nav-menu" class="col-span-2 mt-4 items-center md:mt-0 md:flex">
    <div
      class="flex flex-col gap-y-2 md:mt-0 md:flex-row md:items-center md:gap-x-5"
    >
      {% for menu in config.extra.extra_menu %}
      <a class="flex items-center gap-x-1.5" href="{{ menu.link }}">
        {% if menu.icon_path %}
        <img
          class="inline h-5"
          src="{{ menu.icon_path }}"
          alt="{{ menu.title }} icon"
        />
        {% endif %}
        <span class="inline underline"> {{ menu.title }} </span>
      </a>
      {% endfor %} {% endif %}
    </div>
  </div>
</header>

<!-- prettier-ignore -->
{% endmacro render_header %}
{% macro render_footer() %}

<footer
  class="mt-4 flex flex-col place-items-center bg-gray-700 p-4 text-gray-200"
>
  <p>
    <a class="underline" href="{{ config.extra.site_repository_url }}"
      >Website source code</a
    >.
  </p>
  <p>Dual-licensed under MIT and Apache.</p>
  <p>Powered by <a class="underline" href="https://getzola.org">Zola</a>.</p>
</footer>
{% endmacro %}
