{% import "_macros.html" as macros %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico" />
    {% endblock favicon %} {% include "_variables.html" %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- TODO
    <link rel="stylesheet" type="text/css" href="/syntax-highlight-dark.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" type="text/css" href="/syntax-highlight-light.css" media="(prefers-color-scheme: light)" />
    -->
    {% block head %}
    <link rel="icon" href="spade.svg" />
    {% endblock %}
    <script>
      // Setup dark mode on load
      if ("theme" in localStorage) {
        // Do nothing, already specified
      } else {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          localStorage.theme = "dark";
        } else {
          localStorage.theme = "light";
        }
      }

      function updateDarkMode() {
        if (localStorage.theme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }
      updateDarkMode();

      function toggleDarkMode() {
        if (localStorage.theme === "light" || !("theme" in localStorage)) {
          localStorage.theme = "dark";
        } else {
          localStorage.theme = "light";
        }
        updateDarkMode();
      }
    </script>
  </head>

  <body
    class="flex min-h-screen flex-col bg-white text-neutral-900 dark:bg-gray-900 dark:text-neutral-200"
  >
    <!-- prettier-ignore -->
    {% block header %}
    {% endblock header %}

    <!-- prettier-ignore -->
    {% block frontmatter %}
    {% endblock frontmatter %}

    <main class="mx-3 mb-6 grow md:flex md:gap-8 lg:mx-auto lg:max-w-fit">
      <!-- prettier-ignore -->

      <div class="min-w-0">
        {% block mainmatter %} {% endblock mainmatter %}
      </div>
    </main>

    <!-- prettier-ignore -->
    {% block endmatter %}
    {% endblock endmatter %}

    {% block footer %}
    {{ macros::render_footer() }}
    {% endblock footer %}
  </body>
</html>
