{% extends "section.html" %} {% block frontmatter %}
<section class="mx-3">
  <h1 class="mb-2 text-center text-4xl font-bold text-black dark:text-white">
    Surfer
  </h1>

  <p class="mb-6 text-center text-xl text-black dark:text-neutral-200">
    An Extensible and Snappy Waveform Viewer
  </p>

  <div style="width: 90%; margin: 0px auto" class=surfer_screenshot>
    <img src="surfer_main_screenshot.png">
  </div>
  <div style="width: 90%; height: 800px; margin: 0px auto" class=surfer_frame>
    <iframe src="https://app.surfer-project.org/?load_url=https://app.surfer-project.org/picorv32.vcd&startup_commands=show_quick_start;module_add%20testbench.top;toggle_menu", style="width: 100%; height: 100%"></iframe> 
  </div>

  <div class="links">
    <a href="https://gitlab.com/surfer-project/surfer"><img src="gitlab-color.svg">Source Code</a>
  </div>

  <div class="links">
    <a href="https://app.surfer-project.org">🌍 Web</a>
    <a href="https://gitlab.com/api/v4/projects/42073614/jobs/artifacts/main/raw/surfer_linux.zip?job=linux_build"><img src="Tux.svg"/> Linux</a>
    <a href="https://gitlab.com/api/v4/projects/42073614/jobs/artifacts/main/raw/surfer_linux_rocky.zip?job=rocky_build"><img src="rocky.svg"/> Rocky Linux</a>
    <a href="https://gitlab.com/api/v4/projects/42073614/jobs/artifacts/main/raw/surfer_win.zip?job=windows_build"><img src="Windows_logo_-_2012.svg"> Windows</a>
    <a href="https://gitlab.com/api/v4/projects/42073614/jobs/artifacts/main/raw/surfer_macos-aarch64.zip?job=macos-aarch64_build">macOS (ARM)</a>
  </div>

</section>

{% endblock frontmatter %}
