{% import "_macros.html" as macros %} {% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}
{{ page.title }} | {{ super() }}
{% endblock title %}

{% block header %}
{{ macros::render_header() }}
{% endblock header %}

{% block mainmatter %}
<header class="mb-4">
  <h1 class="text-3xl font-bold text-black dark:text-white">
    {{ page.title }}
  </h1>

  <!-- prettier-ignore -->
  <p>
    {% if page.date %}
    Posted {{ page.date | date(format="%Y-%m-%d") }} by {{ page.extra.author }}
    {% endif %}

    {% if page.extra.updated %}
    (Last updated {{ page.extra.updated | date(format="%Y-%m-%d") }})
    {% endif %}
  </p>
</header>

<div class="prose prose-neutral dark:prose-invert">
  {{ page.content | safe }}
</div>
{% endblock mainmatter %}
