@tailwind base;
@tailwind components;
@tailwind utilities;

.mx-3 {
    margin-bottom: 40px
}

.prose pre {
    overflow: auto;
    min-width: 100%;
    max-width: fit-content;
}

@media (min-width: 38ch) {
    .prose pre {
        min-width: 40ch;
    }
}
.surfer_screenshot {
    display: none;
}

@media only screen and (max-width: 700px) {
    .surfer_screenshot {
        display: unset
    }
    .surfer_frame {
        display: none
    }
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.links a {
    margin: 0.5em;
    font-size: 20pt;
}

.links a img {
    display: inline;
    height: 1.0em;
    margin-right: 0.5em;
    padding-bottom: 0.0em;
}

/* "[ ]" around publication links, in order to differentiate them. */

div.publication_links a::before {
    content: '[';
}

div.publication_links a::after {
    content: ']';
}

/* navbar */

#nav-menu-toggle-icon {
    font-family: Material Symbols Outlined;
}

#nav-menu {
    display: none;
}

#nav-menu-toggle:checked ~ #nav-menu {
    display: flex;
}

@media (min-width: 768px) {
    #nav-menu {
        display: flex;
    }
}

/* end navbar */
